body {
  background-image: url("./assets/images/hero-explore-pike-place-market-restaurants-market-entrance.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.App {
  padding-left: 80px;
}

.header {
padding-left: 100px;
}
